@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cut-image-small {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  .cut-image-big {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }

  .quotes-image-cut {
    clip-path: polygon(0 14%, 100% 0, 100% 85%, 0 100%);
  }

  .custom-bg {
    background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    );
  }
}
